/* TODO:
 * * - Fix over-size width issue on medium viewports
 * *   - Possibly related to image size?
 * * - Add js for carousel functionality
 * * -
 * */
/* * BASIC LAYOUT FOR:
 * * Small viewports, between 375px-659px wide
 * */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #202046;
  line-height: 1.4;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
}

.carousel-container {
  position: relative;
  height: 100%;
  max-height: 800px;
}

.bg-container, .content-container, .controls-container {
  position: absolute;
  width: 100%;
}

.bg-container, .content-container {
  min-height: 100vh;
}

.bg.image {
  background: url("../../assets/pattern-bg.svg") no-repeat center;
  background-size: contain;
  margin: 0 20px;
  height: 100vw;
}

.content.image {
  padding: 60px;
}

.content.image img {
  max-width: 100%;
  -webkit-box-shadow: 0px 30px 35px -25px rgba(32, 32, 70, 0.4);
  -moz-box-shadow: 0px 30px 35px -25px rgba(32, 32, 70, 0.4);
  box-shadow: 0px 30px 35px -25px rgba(32, 32, 70, 0.4);
}

.text {
  height: 200px;
}

.bg.text {
  background: url("../../assets/pattern-quotes.svg") no-repeat top;
  background-size: 3.5em;
}

.content.text {
  padding: 20px;
}

.attribution {
  font-size: smaller;
}

.attr-name, .attr-role {
  display: block;
}

.attr-name {
  font-weight: 700;
}

.attr-role {
  color: #babacf;
  font-weight: 500;
}

.bg.bottom {
  background: url("../../assets/pattern-curve.svg") no-repeat left;
  height: 75px;
  background-size: contain;
}

.controls-container {
  top: calc(100vw - 80px);
  text-align: center;
}

.controls-container button {
  height: 40px;
  width: 40px;
  border: none;
  background: white;
}

.controls-container button:first-of-type {
  border-radius: 50px 0 0 50px;
}

.controls-container button:last-of-type {
  border-radius: 0 50px 50px 0;
  margin-left: -10px;
}

.content-container {
  display: none;
}

.current {
  display: block;
}

/* * RESPONSIVE CHANGES FOR:
 * * Medium viewports, between 660px-999px wide
 * */
@media screen and (min-width: 660px) {
  body {
    font-size: 22px;
    text-align: left;
  }

  .carousel-container {
    height: 100%;
  }

  .bg, .content {
    width: 60%;
    position: absolute;
  }

  .bg.image, .content.image, .controls-container {
    right: 30px;
    top: 0;
  }

  .bg.image {
    right: -30px;
  }

  .bg.image {
    margin: 50px;
    height: 100%;
    max-height: 660px;
  }

  .content.image {
    padding-top: 110px;
    text-align: center;
  }

  .content.image img {
    max-width: 650px;
  }

  .text {
    height: 350px;
    width: 60%;
    top: 210px;
  }

  .bg.text {
    background-size: 3.5em;
  }

  .attribution {
    font-size: 18px;
  }

  .attr-name, .attr-role {
    display: inline-block;
  }

  .bg.bottom {
    bottom: 0;
    height: 120px;
  }

  .controls-container {
    top: 620px;
    left: calc(50% + 110px);
    text-align: left;
    width: 150px;
  }

  .controls-container button {
    width: 50px;
    height: 50px;
  }
}
/* * RESPONSIVE CHANGES FOR:
 * * XL viewports, over 1400px wide
 * */
@media screen and (min-width: 1000px) {
  body {
    font-size: 32px;
  }

  .carousel-container {
    max-height: 660px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .bg, .content {
    max-width: 770px;
  }

  .bg.image, .content.image, .controls-container {
    right: 30px;
    top: 0;
  }

  .bg.image {
    right: -30px;
  }

  .bg.image {
    margin: 50px;
    height: 100%;
    max-height: 660px;
  }

  .content.image {
    padding-top: 110px;
    text-align: center;
  }

  .content.image img {
    max-width: 650px;
  }

  .text {
    height: 300px;
  }

  .bg.text {
    background-size: 3.5em;
  }

  .content.text {
    padding: 20px 0 0 40px;
    left: 8%;
  }

  .attribution {
    font-size: 22px;
  }

  .attr-name, .attr-role {
    display: inline-block;
  }

  .bg.bottom {
    bottom: 0;
    height: 120px;
  }

  .controls-container {
    top: 620px;
    left: calc(50% + 110px);
    width: 150px;
  }
}

/*# sourceMappingURL=styles.css.map */
